:root {
  --pr-text-color: #757575;
  --pr-wht-color: #ffffff;
  --pr-title-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-cl: #2f303a;
  --pr-bg-cl: #ffffff;
  --icon-bg-cl: #f5f4fa;
  --icon-cl-pr: #afb1b8;

  --primary-font: Roboto, sans-serif;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
}
body {
  font-family: var(--primary-font);
  background-color: var(--pr-bg-cl);
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--pr-title-color);
}
.flex-header {
  display: flex;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-main {
  display: flex;
  align-items: center;
}
.header-main-list {
  display: flex;
  margin-left: auto;
}
.site-nav {
  display: flex;
}
.site-nav .item {
  margin-right: 50px;
}
.aut-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.aut-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--pr-text-color);
  padding-top: 31px;
  padding-bottom: 31px;
}
.smartphone {
  /* padding: 0; */
  margin-right: 10px;
}
.aut-nav:hover,
.aut-nav:focus {
  fill: var(--accent-color);
}
.envelope {
  margin-right: 10px;
}

.aut-list .item:not(:last-child) {
  margin-right: 50px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin-right: 93px;
}
.logo-web {
  color: var(--accent-color);
}
.logo {
  color: #000000;
}
.item-nav {
}
.pr-nav {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  padding-top: 31px;
  padding-bottom: 31px;
}
.active::after {
  position: absolute;
  content: '';
  background: #2196f3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
}

.studio {
  color: var(--accent-color);
}

/* main */
.section-pr {
  background-color: var(--secondary-bg-cl);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;

  /* url(../images/hero.jpg); */
  background-position: center;
  background-repeat: no-repeat;
}
.section-wt {
  height: 600px;
  max-width: 696px;
}
.pr-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--pr-wht-color);
  margin: 0;
  margin-bottom: 30px;
  padding-top: 200px;
}
.btn:hover,
.btn:focus {
  color: var(--pr-wht-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn {
  border-radius: 4px;
}
.pr-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--pr-wht-color);
  border: 0;
  padding: 10px 32px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.pr-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;
}
.pr-text-line {
  font-size: 14px;
  line-height: 1.71;
  color: var(--pr-text-color);
  margin: 0;
  padding: 0;
}
.pr-flex {
  display: flex;
  flex-wrap: wrap;
}
.icon-antena::before {
  content: '';
  background: var(--icon-bg-cl);
  border-radius: 4px;
  background-image: url(../images/icon.svg/antenna.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 120px;
  margin-bottom: 30px;
}

.icon-clock::before {
  content: '';
  background: var(--icon-bg-cl);
  border-radius: 4px;
  background-image: url(../images/icon.svg/clock.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 120px;
  margin-bottom: 30px;
}
.icon-diagram::before {
  content: '';
  background: var(--icon-bg-cl);
  border-radius: 4px;
  background-image: url(../images/icon.svg/diagram.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 120px;
  margin-bottom: 30px;
}
.icon-astronavt::before {
  content: '';
  background: var(--icon-bg-cl);
  border-radius: 4px;
  background-image: url(../images/icon.svg/astronaut.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 120px;
  margin-bottom: 30px;
}

.item-flex {
  flex-basis: calc((100% - 30px * 4) / 4);
}
.pr-flex .item-flex:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
.features-flex {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * 3) / 3);
}
.features-flex .item:not(:last-child) {
  margin-right: 30px;
}
.features-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--pr-wht-color);
  background: rgba(47, 48, 58, 0.8);
}
.features-item {
  position: relative;
}
.section-team {
  background-color: var(--icon-bg-cl);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}
.team-flex {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * 4) / 4);
}
.team-flex .item:not(:last-child) {
  margin-right: 30px;
}
.team-flex .item {
  background-color: var(--pr-wht-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-flex-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 32px;
  margin-bottom: 30px;
}
.team-flex .item-icon:not(:last-child) {
  margin-right: 10px;
}
.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}
.team-card {
  font-size: 16px;
  line-height: 1.18;
  color: var(--pr-text-color);
  margin: 0;
  text-align: center;
  padding-bottom: 16px;
}
.pr-client {
  font-weight: 700px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--pr-title-color);
  margin-top: 0;
  margin-bottom: 50px;
}
.link-icon {
  display: flex;
  align-items: center;
  width: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  fill: var(--icon-cl-pr);
}
.link-icon:hover,
.link-icon:focus {
  background-color: var(--accent-color);
  fill: var(--pr-wht-color);
}
.constant-client {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * 6) / 6);
  align-items: center;
}
.item-client:not(:last-child) {
  margin-right: 30px;
}
.link-client {
  display: block;
  width: 170px;
  padding: 20px 63px;
  border: 1px solid var(--icon-cl-pr);
  border-radius: 4px;
  fill: var(--icon-cl-pr);
}
.link-client-foster {
  display: block;
  width: 170px;
  padding: 20px 45px;
  border: 1px solid var(--icon-cl-pr);
  border-radius: 4px;
  fill: var(--icon-cl-pr);
}

.link-client:hover,
.link-client:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.link-client-foster:hover,
.link-client-foster:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* подвал */
.footer {
  background-color: var(--secondary-bg-cl);
  padding-top: 60px;
}
.address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  color: var(--pr-wht-color);
}
.address p {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--pr-wht-color);
  text-decoration: none;
  display: flex;
}
.aut-nav-footer {
  color: var(--pr-text-color);
  margin: 0;
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 0;
}
.footer-list {
  padding-bottom: 60px;
}
.footer-flex {
  display: flex;
  flex-wrap: wrap;
}
.join {
  margin-left: 70px;
}
.join-title {
  font-weight: 700px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--pr-wht-color);
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 12px;
}
.footer-flex-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer-flex .item-icon:not(:last-child) {
  margin-right: 10px;
}
.link-footer-icon {
  display: flex;
  align-items: center;
  width: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  fill: var(--pr-wht-color);
  background: rgba(255, 255, 255, 0.1);
}
.link-footer-icon:hover,
.link-footer-icon:focus {
  background-color: var(--accent-color);
}

/* !ПОРТФОЛИO */
.btn-work {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  height: 38px;

  background: #f5f4fa;
  border: 0;
  padding: 6px 22px;
}
.all {
  background-color: var(--accent-color);
  color: var(--pr-wht-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-works {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-works .item:not(:last-child) {
  margin-right: 8px;
}
.link-port {
  text-decoration: none;
  color: inherit;
}
.example-work {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
}
.name-work {
  font-size: 16px;
  line-height: 1.87;
  color: var(--pr-text-color);
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  flex-basis: calc((100% - 30px * 9) / 9);
  margin-right: 30px;
  margin-bottom: 30px;
  max-height: 404px;
}
.flex-element:nth-child(3n) {
  margin: 0;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-image {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.flex-element:hover,
.flex-element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
